@import '../../theme.css';

.layout-container__pagination {
  display: flex;
  align-items: end;
  width: auto;
  gap: 10px;
}

.layout-container__pagination span {
  font-size: 18px;
  letter-spacing: 1px;
}

.layout-container__pagination button {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 30px;
  border: 1px solid gray;
}

.pagination__select-btn {
  background-color: var(--page-color);
}

