@import '../../theme.css';

.pagination {
  display: flex;
  justify-self: center;
  align-items: end;
  width: auto;
  gap: 10px;
}

.pagination span {
  font-size: 18px;
  letter-spacing: 1px;
}

.pagination button {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 30px;
  border: 1px solid gray;
}

.pagination__select-btn {
  background-color: var(--page-color);
}

.pagination_previous-button::before {
  content: "...";
}

.pagination_next-button::after {
  content: "...";
}
