.post__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
  height: auto;
  min-height: 250px;
  margin: 10px 20px;
  padding: 5px;
  border: 2px solid cadetblue;
}

.post__item p {
  margin-left: 5px;
}

