.layout-container__table {
  width: auto;
  height: auto;
  border: 1px solid grey;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
}

.layout-container__table td,th {
  padding: 5px;
  border: 1px solid grey;
}

